.background{
    background-image:url("../AssignmentAssets/GrayBackground.jpg");
}

#heading{
    text-align: center;
    border: 10px solid darkgray;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 30px 30px 30px 50px
}

#video{
    margin: 150px;
    border-style: solid;
    border-color: rgb(54, 211, 216);
    border-width: 20px;
}

body{
    background-color: darkgray;
}